body {
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  position: relative;
  top: 20px;
  text-align: center;
  padding: 20px;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  text-transform: capitalize;
}

form {
  display: block;
  text-align: left;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.row {
  position: relative;
  text-align: center;
}

.temperature {
  font-size: 50px;
  text-align: right;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}

.units {
  text-align: left;
}

.weather-description {
  font-size: 16px;
  font-weight: bold;
}
.weather-description:first-letter {
  text-transform: capitalize;
}

.real-feel {
  border: 1px solid #cd9df4;
  border-radius: 100px;
  max-width: 100px;
  margin: 5px;
  padding: 10px;
  background-color: #cc9df4;
}

.humidity {
  border: 1px solid #cd9df4;
  border-radius: 100px;
  max-width: 100px;
  margin: 5px;
  padding: 10px;
  background-color: #fe87f5;
}

.wind {
  border: 2px solid #cd9df4;
  border-radius: 100px;
  max-width: 100px;
  margin: 5px;
  padding: 10px;
  background-color: #5ad1f3;
}

.weather-app-wrapper {
  max-width: 450px;
  margin: 40px auto;
  border: 3px solid #cd9df4;
  border-radius: 5px;
  padding: 15px;
  background-color: #5ad1f3;
}
.weather-app {
  max-width: 450px;
  padding: 20px;
  border: 3px solid #cd9df4;
  border-radius: 5px;
  background: linear-gradient(
    109.6deg,
    rgb(90, 209, 243) 11.2%,
    rgb(254, 135, 245) 91.1%
  );
}

.nodecoration {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.footer {
  font-size: 11px;
}
